//====================================
// Global Imports
//====================================
@font-face {
    font-family: 'Helvetica';
    src: url('/assets/fonts/Helvetica/helvetica-neue-bold-italic.ttf') format('truetype'),
         url('/assets/fonts/Helvetica/helvetica-neue-bold.ttf') format('truetype'),
         url('/assets/fonts/Helvetica/helvetica-neue-condensed-black.ttf') format('truetype'),
         url('/assets/fonts/Helvetica/helvetica-neue-condensed-bold.ttf') format('truetype'),
         url('/assets/fonts/Helvetica/helvetica-neue-italic.ttf') format('truetype'),
         url('/assets/fonts/Helvetica/helvetica-neue-light-italic.ttf') format('truetype'),
         url('/assets/fonts/Helvetica/helvetica-neue-light.ttf') format('truetype'),
         url('/assets/fonts/Helvetica/helvetica-neue-medium.ttf') format('truetype'),
         url('/assets/fonts/Helvetica/helvetica-neue-regular.ttf') format('truetype'),
         url('/assets/fonts/Helvetica/helvetica-neue-ultra-light-italic.ttf') format('truetype'),
         url('/assets/fonts/Helvetica/helvetica-neue-ultra-light.ttf') format('truetype'),
         url('/assets/fonts/Helvetica/HelveticaNeue-Bold.otf') format('opentype'),
         url('/assets/fonts/Helvetica/HelveticaNeue-BoldItalic.otf') format('opentype'),
         url('/assets/fonts/Helvetica/HelveticaNeue-CondensedBlack.otf') format('opentype'),
         url('/assets/fonts/Helvetica/HelveticaNeue-CondensedBold.otf') format('opentype'),
         url('/assets/fonts/Helvetica/HelveticaNeue-Italic.otf') format('opentype'),
         url('/assets/fonts/Helvetica/HelveticaNeue-Light.otf') format('opentype'),
         url('/assets/fonts/Helvetica/HelveticaNeue-LightItalic.otf') format('opentype'),
         url('/assets/fonts/Helvetica/HelveticaNeue-Medium.otf') format('opentype'),
         url('/assets/fonts/Helvetica/HelveticaNeue-UltraLight.otf') format('opentype'),
         url('/assets/fonts/Helvetica/HelveticaNeue-UltraLightitalic.otf') format('opentype'),
         url('/assets/fonts/Helvetica/HelveticaNeue.otf') format('opentype'),
         url('/assets/fonts/Helvetica/helveticaneue.ttf') format('truetype'),
         url('/assets/fonts/Helvetica/helveticaneuebold.ttf') format('truetype'),
         url('/assets/fonts/Helvetica/helveticaneuebolditalic.ttf') format('truetype'),
         url('/assets/fonts/Helvetica/helveticaneuecondensedblack.ttf') format('truetype'),
         url('/assets/fonts/Helvetica/helveticaneuecondensedbold.ttf') format('truetype'),
         url('/assets/fonts/Helvetica/helveticaneueitalic.ttf') format('truetype'),
         url('/assets/fonts/Helvetica/helveticaneuelight.ttf') format('truetype'),
         url('/assets/fonts/Helvetica/helveticaneuelightitalic.ttf') format('truetype'),
         url('/assets/fonts/Helvetica/helveticaneuemedium.ttf') format('truetype'),
         url('/assets/fonts/Helvetica/helveticaneueultralight.ttf') format('truetype'),
         url('/assets/fonts/Helvetica/helveticaneueultralightitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  
  

// 1- Import bootstrap framework
@import '1-frameworks/index';

// 2 - Import plugins
@import '2-plugins/index';

// 3 - Import base style, custom variables and mixins
@import '3-base/index';

// 4 - Import modules
@import '4-modules/index';

// 5 - Import layout  styles
@import '5-layout/index';
