// @import 'some-module';
.wrapper-carousel {
    .slick-arrow {
        color: transparent;
        background: transparent;
        background-color: transparent;
        border-width: 0;
        cursor: pointer;
        width: 28px;
        height: 60px;
        position: absolute;
        top: 50%;
        margin: -20px 0px 0px 0px;
        z-index: 10;
        &:focus, &:hover, &:active {
            outline: none;
            opacity: 0.8;
        }
        @media (max-width: 767px) {
            display: none !important;
        }
    }
    .slick-arrow.slick-prev {
        left: 0;
        background: url("../img/arr-left.png") 0
          0 / 100% no-repeat;
      }
      .slick-arrow.slick-next {
        right: 0;
        background: url("../img/arr-right.png") 0 0 / 100% no-repeat;
      }
  /* the slides */
  .slick-slide {
    margin: 0 3rem;
}


    .carousel-item {
        .wrap-img {
            border-radius: 50%;
            overflow: hidden;
            background: #fff;
        }
        p {
            font-family: 'Helvetica';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 150%;
            text-align: center;
            color: #6C757D;
            display: block;
            margin-top: 16px;
        }
        img {
            width: 100%;
        }
    }
}